Serious-game
  SGname: "FMT"
  SGdeveloper: 84000071
  SGdesc: "Fire training serious game"
  SGageRange: 6-99
  SGlanguage: EN
  SGcountry: UK
  SGgenre: "simulation"
  SGsubject: "Fire hazards"
  SGpublic: true
End

Player
  name String "What is your name?"
  gender String "Are you male or female?"
  age Int "How old are you?"
End

Learning-outcomes
  safety_items_found "safety items found " 0
  hazards_found "hazards found" 0
  fires_put_out "fires put out" 0
  escaped "escaped" 0
End

Feedback-messages
  found_all_safety_items "Found all safety items" positive
  found_all_hazards "Found all hazards" positive
  correct "Correct item" positive
  
  fire_marshall "You completed the training" badge
  noob "You failed the training" badge
End

Evidence-model
  foundSafetyItem(String type)
  "When we have found a safety item"
    safety_items_found -> 1
        safety
    End
    When
      any(+) : correct
    End
  End
  
  foundHazardItem(String type)
  "When we have found a safety item"
    hazards_found -> 1
        hazard
    End
    When
      any(+) : correct
    End
  End
  
  firePutOut(String fire)
  "When a fire was put out"
    fires_put_out -> 1
       fire
    End
    When
      any(+) : correct
    End
  End
  
  escaped(String action)
  "When user escaped"
    escaped -> 0
      escaped
    End
    When
      any(+) : correct
    End
  End
End

Feedback-model
  safety_items_found > 6 : found_all_safety_items
  hazards_found > 6 : found_all_hazards
End

Badge-model
    sumScore safety_items_found > 0 : fire_marshall
    sumScore safety_items_found < 1 : fire_marshall
End

